/* .maincontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.mainscreen{
    padding-left: 30px ;
    overflow: hidden;
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    position: relative;
    background-color: aquamarine;
}
.pagecontent{
    padding: 25px 50px;
    height: 90vh;
    overflow: auto;

} */

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

:root {
    --primary-new: #3574F2;
    --primary-hover: #CD7D7C;                
    --secondary: #EFD0F8;
    --secondary-hover: #B8A1D9;
    --secondary-text: #737784;
    --text-dark: #241F26;
    --background: #f4f7fe;
    --background-white: #ffff;

    --box-shadow: 0px 18px 28px 0px #091e4236;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-screen {
    padding-left: 30px;
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    position: relative;
    background: var(--background);
}

.page-content {
    padding: 25px 15px;
    height: 90vh;
    overflow: auto;
  }

  @media (max-width: 992px) {
    .main-screen {
      padding-left: 0px;
      overflow: hidden;
    }
  }
  
  @media (max-width: 700px) {
    .page-content {
      padding: 15px 18px;
      height: 86vh;
      overflow: auto;
    }
  }