  .contain{
   background-color: #37d5e0;
    width: 200vh;
    height: 99vh;
    margin: 0%;
  }
  .login-form{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #20d0dd;
    
  }
    h1 {
      margin: 0px;
      padding-bottom: 30px;
    text-align: center;
    }
    input{
      width: 100%;
      height: 40px; 
      border-radius: 5px;
      border: none;
      
    }
    input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    padding: 10px;
    cursor: pointer;
    
   
    }
.singin{
  
  color: white !important;
}
.login-form{
padding-bottom: 50px;

}